.pokemon-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pokemon-card-image {
  flex: 0 0 150px; /* fixed width, but can adjust based on preference */
  padding-right: 20px;
}

.pokemon-card-image img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.pokemon-card-details {
  flex: 1; /* takes the rest of the space */
}

.pokemon-card-details h2 {
  margin-top: 0;
  color: #333;
}

.pokemon-card-details p {
  margin: 4px 0;
  color: #666;
}

.add-button, .add-form button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.add-form {
  display: flex;
  flex-direction: column;
}

.add-form input, .add-form select {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-form label {
  margin-top: 5px;
}

.pokemon-card-container.in-collection {
  background-color: #ccfcff; /* Light green/blue color */
  border: 1px solid #b2d3f2; /* Slightly darker border for better visibility */
}

.quantity-button {
  background-color: #e7f5ff; /* Light blue background for the button */
  border: none;
  color: #333;
  padding: 5px 10px;
  text-align: center;
  display: block;
  margin-top: 5px;
  cursor: default;
  border-radius: 5px;
  font-size: 0.75rem; /* Small text size */
}


@media (max-width: 768px) {
  .pokemon-card-container {
    flex-direction: column;
    text-align: center;
  }

  .pokemon-card-image {
    padding-right: 0;
    padding-bottom: 20px;
  }

  .pokemon-card-image img {
    width: 50%; /* Adjust size as needed for mobile */
    margin: 0 auto; /* Center the image when in column layout */
  }
}
