.yugioh-card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
.yugioh-card-image {
    flex: 0 0 150px; /* fixed width, but can adjust based on preference */
    padding-right: 20px;
  }
  
.yugioh-card-image img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
.yugioh-card-details {
    flex: 1; /* takes the rest of the space */
  }
  
.yugioh-card-details h2 {
    margin-top: 0;
    color: #333;
  }
  
.yugioh-card-details p {
    margin: 4px 0;
    color: #666;
  }

.add-button, .add-form button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
  }
  
.add-form {
    display: flex;
    flex-direction: column;
  }
  
.add-form input, .add-form select {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
.add-form label {
    margin-top: 5px;
  }

.price-button {
    background-color: #ffae00;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
  }

.view-prices-button {
    background-color: #00c468;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
  }

/* The switch container */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Optional: Adds marks for off/on states */
.slider:after {
  color: white;
  display: block;
  position: absolute;
  transform: translateX(-50%);
  top: 50%;
  left: 25%;
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
}

input:checked + .slider:after {
  left: 75%;
}

/* Enhanced layout for the surrounding container */
.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.yugioh-card-container.in-collection {
  background-color: #ccfcff; /* Light green/blue color */
  border: 1px solid #b2d3f2; /* Slightly darker border for better visibility */
}

.quantity-button {
  background-color: #e7f5ff; /* Light blue background for the button */
  border: none;
  color: #333;
  padding: 5px 10px;
  text-align: center;
  display: block;
  margin-top: 5px;
  cursor: default;
  border-radius: 5px;
  font-size: 0.75rem; /* Small text size */
}


.price-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  background: #f1f1f1;
  border-radius: 8px;
  margin-top: 10px;
}

.price-entry {
  padding: 4px;
  border-bottom: 1px solid #eee;
  &:last-child {
    border-bottom: none;
  }
}


@media (max-width: 768px) {
    .yugioh-card-container {
      flex-direction: column;
      text-align: center;
    }
  
    .yugioh-card-image {
      padding-right: 0;
      padding-bottom: 20px;
    }
  
    .yugioh-card-image img {
      width: 50%; /* Adjust size as needed for mobile */
      margin: 0 auto; /* Center the image when in column layout */
    }

    .price-entry {
      flex-basis: 100%;
    }
  
}
