.yugioh-card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
.yugioh-card-image {
    flex: 0 0 150px; /* fixed width, but can adjust based on preference */
    padding-right: 20px;
  }
  
.yugioh-card-image img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
.yugioh-card-details {
    flex: 1; /* takes the rest of the space */
  }
  
.yugioh-card-details h2 {
    margin-top: 0;
    color: #333;
  }
  
.yugioh-card-details p {
    margin: 4px 0;
    color: #666;
  }
  
@media (max-width: 768px) {
    .yugioh-card-container {
      flex-direction: column;
      text-align: center;
    }
  
    .yugioh-card-image {
      padding-right: 0;
      padding-bottom: 20px;
    }
  
    .yugioh-card-image img {
      width: 50%; /* Adjust size as needed for mobile */
      margin: 0 auto; /* Center the image when in column layout */
    }
}
  