/* Global styles applied to the body */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  margin: 0; /* Ensures there is no default margin */
  padding: 0; /* Ensures there is no default padding */
  font-family: Arial, sans-serif; /* Default font */
}

ruby {
  font-size: 1em;
  line-height: 1.2;
}

rt {
  font-size: 0.6em;
  color: gray;
}

/* Main content specific styles */
.main-content {
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 992px) {
  .main-content {
      padding-top: 1rem;
      padding-left: 2rem;
      padding-right: 2rem;
  }
}

/* Navbar specific styles */
.navbar {
  background-color: var(--nav-bg-color) !important;
  transition: background-color 0.3s;
}

.navbar-brand, .navbar-nav .nav-link {
  color: var(--nav-text-color) !important;
  transition: color 0.3s;
}

/* Dropdown menu specific styles */
.navbar .dropdown-menu {
  background-color: var(--dropdown-bg-color) !important;
}

.navbar .dropdown-item {
  color: var(--dropdown-text-color) !important;
  transition: color 0.3s;
}

/* Hover states for dropdown items */
.navbar .dropdown-item:hover, .navbar .dropdown-item:focus {
  background-color: var(--dropdown-hover-bg-color);
  color: var(--dropdown-hover-text-color);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.navbar {
    background-color: var(--nav-bg-color);
}

.navbar-brand, .navbar-nav .nav-link {
    color: var(--nav-text-color);
}
